{% extends "layout.html" %}

{% block title %}
<title> Chord Graph Visualization </title>
{% endblock %}

{% block body %}

<style>

body {
  font: 10px sans-serif;
}

.chord {
  fill-opacity: .67;
  stroke-width: 0px;
}

#circle circle {
  fill: none;
  pointer-events: all;
}

.group{
  fill-opacity: 1;
  stroke-width: 0px;
}

</style>

<div id="v3-visualization"></div>

<script>

var margin = {top: 50, right: 30, bottom: 50, left: 30}
var width = document.documentElement.clientWidth - margin.left - margin.right
var height = document.documentElement.clientHeight - margin.top - margin.bottom
var outerRadius = Math.min(width, height) / 2 - 30
var innerRadius = outerRadius - 24;
var ids = []
var data_matrix = {}
var title = 0
var layout = d3.layout.chord()
    .padding(.075);

// Arc and chord factories used to generate the chord graph.
// When calling them using the .data(m_data).attr("m_attr", m_factory) paradigm
// these svg factories are automatically passed the data.
// The chord layout automatically passes data in which contains all the info
// needed to generate the correct arcs and chords, which happens magically under
// the hood.
var arc = d3.svg.arc()
    .innerRadius(innerRadius)
    .outerRadius(outerRadius);
var path = d3.svg.chord()
    .radius(innerRadius);


var svg = d3.select("#v3-visualization").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("id", "circle")
    .attr("transform", "translate(" + width/2 + "," + height/2 + ")");

var defs = svg.append('svg:defs');

// Color gradient used to assign colors to each node/arc
// Colors are drawn using the HCL color space
var start_color = d3.hcl(98.734, 1.465, 36.795)
var stop_color = d3.hcl(17.573, -3.297, -16.966)
var cscale = d3.scale.linear()
      .range(["hsl(40,100%,70%)", "hsl(240,100%,20%)"])
      .interpolate(d3.interpolateHcl);

getInfoAndRender();

svg.append("text") // Give the graph a title
  .attr("id", "graph-title")
  .attr("x", 0)
  .attr("y", -height/2 + 20)
  .attr("text-anchor", "middle")
  .style("font-size", "24px")
  .style("text-decoration", "underline")
  .text(title);

{% if update_url %}
var looper = setInterval(function(){getInfoAndRender()}, {{update_time}});
{% endif %}

function getInfoAndRender() {
  {% if update_url %}
    $.getJSON("{{ update_url }}", function(data) {
      data_matrix = data['data']
      ids = data['ids']
      title = data['title']
      render_graph()
    });
  {% elif one_shot_data %}
    var one_shot_data = {{ one_shot_data|tojson|safe }}
    data_matrix = one_shot_data['data']
    ids = one_shot_data['ids']
    title = one_shot_data['title']
    render_graph()
  {% endif %}
}

/*
 * Generates either a linear gradient to fade the chords
 * from their source to target node colors.
 * TODO: Switch to radial gradents for diagonal facing nodes
*/
function generateGradient(d) {
  var i1 = d.source.index
  var i2 = d.target.index
  if(i1 > i2) {
    i1 = d.target.index
    i2 = d.source.index
  }

  var gradient_info = calculateGradient(d)

  var gradient = defs.append("svg:linearGradient")
      .attr("id", "gradient-" + i1.toString() + "-" + i2.toString())
      .attr("x1", gradient_info[0])
      .attr("y1", gradient_info[1])
      .attr("x2", gradient_info[2])
      .attr("y2", gradient_info[3])
      .attr("spreadMethod", "pad");

  gradient.append("svg:stop")
      .attr("offset", "0%")
      .attr("stop-color", cscale(d.source.index))
      .attr("stop-opacity", 1);

  gradient.append("svg:stop")
      .attr("offset", "100%")
      .attr("stop-color", cscale(d.target.index))
      .attr("stop-opacity", 1);

  var g_url = 'url(#gradient-' + i1.toString() + "-" + i2.toString() + ')'
  return g_url;
}

function updateGradient(d) {
  var i1 = d.source.index
  var i2 = d.target.index
  if(i1 > i2) {
    i1 = d.target.index
    i2 = d.source.index
  }

  var gradient = defs.select("#gradient-" + i1.toString() + "-" + i2.toString())
  var gradient_info = calculateGradient(d)
  var updated_colors = [cscale(d.source.index), cscale(d.target.index)]

  gradient.attr("x1", gradient_info[0])
    .attr("y1", gradient_info[1])
    .attr("x2", gradient_info[2])
    .attr("y2", gradient_info[3])

  gradient.selectAll("stop")
    .data(updated_colors)
      .attr("stop-color", function(d){return d;})

  var g_url = 'url(#gradient-' + i1.toString() + "-" + i2.toString() + ')'
  return g_url;
}

function calculateGradient(d) {
  var source_angle = (d.source.startAngle + d.source.endAngle) / 2
  var target_angle = (d.target.startAngle + d.target.endAngle) / 2
  // Converting source and target angles to be consistent with a
  // normal cartesian coordinate system
  source_angle = source_angle - Math.PI/2 * -1
  target_angle = target_angle - Math.PI/2 * -1
  var source_x = Math.cos(source_angle)
  var source_y = Math.sin(source_angle)
  var target_x = Math.cos(target_angle)
  var target_y = Math.sin(target_angle)
  var xdiff = Math.abs(source_x - target_x)
  var ydiff = Math.abs(source_y - target_y)
  var x1 = 0
  var x2 = 0
  var y1 = 0
  var y2 = 0

  var norm = 100

  if(xdiff > ydiff) {
    y1 = "0%"
    y2 = "0%"
    var abs_s_x = Math.abs(source_x)
    var abs_t_x = Math.abs(target_x)
    norm = 100 * Math.min(abs_s_x, abs_t_x) / Math.max(abs_s_x, abs_t_x)
    if(norm < 50) {
      norm = 100 - norm
    }
    if(source_x > target_x) {
      x1 = "0%"
      x2 = norm.toString() + "%"
    }
    else {
      x1 = norm.toString() + "%"
      x2 = "0%"
    }
  }
  else {
    x1 = "0%"
    x2 = "0%"
    var abs_s_y = Math.abs(source_y)
    var abs_t_y = Math.abs(target_y)
    norm = 100 * Math.min(abs_s_y, abs_t_y) / Math.max(abs_s_y, abs_t_y)
    if(norm < 50) {
      norm = 100 - norm
    }
    if(source_y > target_y) {
      y1 = "0%"
      y2 = norm.toString() + "%"
    }
    else {
      y1 = norm.toString() + "%"
      y2 = "0%"
    }
  }

  return [x1, y1, x2, y2]
}

function render_graph() {

  svg.select("#graph-title")
    .text(title);

  // Compute the chord layout based on the data matrix
  layout.matrix(data_matrix);

  // Colors are assigned based on your index within the data matrix.
  // This is a proxy for assigning color based on the node's arc position.
  cscale.domain([0, ids.length-1])

  // Associate each node with a group
  var groups = svg.selectAll(".group")
      .data(layout.groups)

  // Update existing arcs
  groups.select("path") //updating arc path and color
    .transition()
    .duration(500)
    .attr("d", arc)
    .style("fill", function(d,i) {return cscale(i)});
  groups.select("text") // updating arc labels
    .select("textPath")
      .text(function(d,i) { return ids[i].toString(); });

  // Add new arcs when new nodes join the network
  var new_groups = groups.enter().append("g")
      .attr("class", "group");
  new_groups.append("path") // Creating the arc
    .attr("id", function(d, i) { return "group" + i; })
    .attr("d", arc)
    .attr("class", "group-arc")
    .style("fill", function(d,i) { return cscale(i) });
  new_groups.append("text") // Creating the text label
    .attr("dy", -10)
    .style("text-anchor", "middle")
    .style("font-size", "12pt")
    .style("fill", function(d,i) { return cscale(i) })
    .style("fill-opacity", 1)
    .append("textPath")
      .attr("xlink:href", function(d, i) { return "#group" + i; })
      .attr("startOffset", "25%")
      .text(function(d, i) { return ids[i].toString(); });

  // Remove old arcs associated with nodes that left the netowrk
  groups.exit().remove()

  // Add the chords.
  var chords = svg.selectAll(".chord")
      .data(layout.chords)

  // Update existing chords
  chords.transition().duration(500)
    .attr("d", path);

  chords.style("fill",  function(d) { return updateGradient(d); })


  // Add in new chords
  chords.enter().append("path")
    .attr("class", "chord")
    .style("fill",  function(d) { return generateGradient(d); })
    .attr("d", path);

  // Remove old chords
  chords.exit().remove()
}

</script>

{% endblock %}
